/*
 * This file is licenced CC0 http://creativecommons.org/publicdomain/zero/1.0/
 */


.tt-suggestion {
    padding: 18px;
}
.tt-suggestions .food-group {
    float: left;
    margin-right: 15px;
}

.tt-suggestions .food-name {
    /*font-size: 20px;*/
    font-weight: 400;
    text-align: left;
}

.tt-suggestions .food-description {
    font-style: italic;
    text-align: left;
}
.tt-highlight {
    /*color: blue;*/
    font-weight: bolder;
}

#food-details {
    margin-top: 20px;
}

.popover {
    max-width: 376px;
    font-size: 60%;
}

.table {
    /* don't fill 100% with instead only make as wide as needed for content */
    width: initial;

    /* centre */
    margin-left: auto;
    margin-right: auto;
}

tr.nutrient-group {
    font-weight: bold;
}

tbody {
    text-align: left;
}
table.nutrients td.class2 {
    padding-left: 2em;
}
